@media (max-width: 600px) {
    html {
        overflow-y: scroll;
    }

    nav {
    }
    nav.full {
        height: auto;

    }

    nav.full ul {
        margin:60px 0 40px 0;
        animation-duration: 0.5s;
        animation-name: shrinkNavInPortrait;
        animation-direction: reverse;
        animation-fill-mode: forwards;
    }
    nav.fullMobile ul {
        
    }

    nav.full li {
        width:70vw;
        height:40vw;
        max-width:500px;
        max-height:500px;
        margin-bottom:10px;
    }

    nav.full li span {
        font-size: 5vh;
    }

    nav.shrink {
        flex-direction: column;
    }

    nav.shrink ul {
        animation-duration: 1s;
        animation-name: shrinkNavInPortrait;
        animation-fill-mode: forwards;
    }
    nav.shrinkMobile ul {
        
    }
    nav.shrink li {
        
    }

    nav #logo {
        font-size:7vw;
    }

    nav.full #logo {
        margin-top:20px;
    }
    nav.shrink #logo {
        margin-top:6px;
    }
}

@keyframes shrinkNavInPortrait {
    from {
        opacity: 1;
        flex-direction: column;
    }

    49% {
        opacity: 0;
        flex-direction: column;
    }
    51% {
        opacity: 0;
        flex-direction: row;
    }

    to {
        opacity : 1;
        flex-direction: row;
    }
}

div#closeMain {
    right:5px;
}

/* Description page table */
table.desc td.tb_year {
    width:60px;
    padding:4px;
}

table.desc td.tb_desc {
    padding-left:10px;
}
table.desc td.tb_desc .tag {
    font-size:0.7em;
}

table.desc tr.tb_space {
    height:15px;
}

/* Main Article */
main article {
    padding-left:5px;
}

/* Comment */
div#comment_wrapper {
    width: calc(100% - 30px);
    left : 15px;
}