@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

html {
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Nanum Gothic', sans-serif;
}

body {
    margin: auto;
    height: 100%;
}
body.light {
    background: var(--bg-light);
    color: var(--font-color-light);
}
body.dark {
    background: var(--bg-dark);
    color: var(--font-color-dark);
}

.light a {
    color: var(--font-color-light) !important;
}
.dark a {
    color: var(--font-color-dark) !important;
}

/* nav */
nav {
    border-radius: 32px;
    display: flex;
    scrollbar-width: none;
}
nav::-webkit-scrollbar {
    display: none;
}
.light nav {
    background: var(--bg-light);
    box-shadow: var(--section-shadow-dist) var(--section-shadow-dist)
                var(--section-shadow-size) var(--bg-light-bottom-shadow), 
                calc(var(--section-shadow-dist) * -1) calc(var(--section-shadow-dist) * -1)
                var(--section-shadow-size) var(--bg-light-top-shadow);
}
.dark nav {
    background: var(--bg-dark);
    box-shadow: var(--section-shadow-dist) var(--section-shadow-dist)
                var(--section-shadow-size) var(--bg-dark-bottom-shadow), 
                calc(var(--section-shadow-dist) * -1) calc(var(--section-shadow-dist) * -1)
                var(--section-shadow-size) var(--bg-dark-top-shadow);
}

nav ul {
    list-style-type: none;
    padding-inline-start: 0;
    padding-inline-end: 0;
    width: 100%;
    margin: 6px;
}

nav li {
    border-radius: 24px;
    cursor: pointer;
    overflow: hidden;
}
.light nav li {
    background: var(--bg-light);
    box-shadow: inset
                var(--item-shadow-dist) var(--item-shadow-dist)
                var(--item-shadow-size) var(--bg-light-bottom-shadow), 
                inset 
                calc(var(--item-shadow-dist) * -1) calc(var(--item-shadow-dist) * -1)
                var(--item-shadow-size) var(--bg-light-top-shadow);
}
.dark nav li {
    background: var(--bg-dark);
    box-shadow: inset 
                var(--item-shadow-dist) var(--item-shadow-dist)
                var(--item-shadow-size) var(--bg-dark-bottom-shadow), 
                inset 
                calc(var(--item-shadow-dist) * -1) calc(var(--item-shadow-dist) * -1)
                var(--item-shadow-size) var(--bg-dark-top-shadow);
}

/* sections */
section {
    border-radius: 36px;
    min-height: 100px;
    margin: 20px;
    margin-bottom: 40px;
    padding: 30px;
}
.light section {
    background: var(--bg-light);
    border: 3px solid var(--bg-light);
    box-shadow: var(--section-shadow-dist) var(--section-shadow-dist)
                var(--section-shadow-size) var(--bg-light-bottom-shadow), 
                calc(var(--section-shadow-dist) * -1) calc(var(--section-shadow-dist) * -1)
                var(--section-shadow-size) var(--bg-light-top-shadow),
                inset 
                var(--section-inset-shadow-dist) var(--section-inset-shadow-dist)
                var(--section-inset-shadow-size) var(--bg-light-bottom-shadow), 
                inset 
                calc(var(--section-inset-shadow-dist) * -1) calc(var(--section-inset-shadow-dist) * -1)
                var(--section-inset-shadow-size) var(--bg-light-top-shadow);
}
.dark section {
    background: var(--bg-dark);
    border: 3px solid var(--bg-dark);
    box-shadow: var(--section-shadow-dist) var(--section-shadow-dist)
                var(--section-shadow-size) var(--bg-dark-bottom-shadow), 
                calc(var(--section-shadow-dist) * -1) calc(var(--section-shadow-dist) * -1)
                var(--section-shadow-size) var(--bg-dark-top-shadow),
                inset 
                var(--section-inset-shadow-dist) var(--section-inset-shadow-dist)
                var(--section-inset-shadow-size) var(--bg-dark-bottom-shadow), 
                inset 
                calc(var(--section-inset-shadow-dist) * -1) calc(var(--section-inset-shadow-dist) * -1)
                var(--section-inset-shadow-size) var(--bg-dark-top-shadow);
}

section td.tb_year {
    font-size: 0.5em;
    opacity: 0.6;
    border-right: 2px solid;
    width: 70px;
}
.light section td.tb_year {
    border-color: var(--font-color-light);
}
.dark section td.tb_year {
    border-color: var(--font-color-dark);
}

section tr.tb_space {
    height: 10px;
}
section td.tb_desc {
    padding-left: 10px;
}

section .tag {
    display: block;
    font-size: 0.7em;
    opacity: 0.6;
}

section hr {
    background: var(--font-color-dark);
}

/* Profile image */
#img_profile {
    width:160px; 
    height:160px; 
    border-radius: 84px; 
    float: right;
}
.light #img_profile {
    border: 6px solid var(--bg-light);
    box-shadow: var(--item-shadow-dist) var(--item-shadow-dist)
                var(--item-shadow-size) var(--bg-light-bottom-shadow), 
                calc(var(--item-shadow-dist) * -1) calc(var(--item-shadow-dist) * -1)
                var(--item-shadow-size) var(--bg-light-top-shadow);
}
.dark #img_profile {
    border: 6px solid var(--bg-dark);
    box-shadow: var(--item-shadow-dist) var(--item-shadow-dist)
                var(--item-shadow-size) var(--bg-dark-bottom-shadow), 
                calc(var(--item-shadow-dist) * -1) calc(var(--item-shadow-dist) * -1)
                var(--item-shadow-size) var(--bg-dark-top-shadow);
}