:root {
    --section-shadow-dist: 12px;
    --section-shadow-size: 32px;
    --section-inset-shadow-dist: 2px;
    --section-inset-shadow-size: 6px;
    --item-shadow-dist: 3px;
    --item-shadow-size: 6px;
}

:root .light {
    --bg: #e6e6e6;
    --bg-top-shadow: #f4f4f4;
    --bg-bottom-shadow: #dadada;
    --font-color: #3b3b3b;
}

:root .dark {
    --bg: #3b3b3b;
    --bg-top-shadow: #4a4a4a;
    --bg-bottom-shadow: #313131;
    --font-color: #e6e6e6;
}

:root .rosegold {
    --bg: #B76E79;
    --bg-top-shadow: #d27f8b;
    --bg-bottom-shadow: #9c5e67;
    --font-color: #fff;
}